# misc
node_modules
yarn-error.log
.vscode
*.tsbuildinfo
dist
packages/node-iap/example/data.json
lerna-debug.log
.env
.npmrc

# nx
.nx/cache
.nx/workspace-data

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
